

    .fa 
    {
        position:absolute;
        top:10px;
        font-size:25px;
        cursor:pointer;
        color:#999;

    }

input:focus
{
    border-bottom: 2px solid dodgerblue;
}

.fa 
{
    position:absolute;
    left:380px;
    top:10px;
    font-size:25px;
    cursor:pointer;
    color:#999;
}

    .fa.active {
        color: dodgerblue;
    }